<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Add a Student</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="/persistStudent" th:object="${newStudent}">
                <label for="studentId">Student ID</label>
                <input type="text" name="studentId" id="studentId" th:field="*{studentId}"/>

                <label for="name">Name</label>
                <input type="text" name="name" id="name" th:field="*{name}"/>

                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>