<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Welcome Librarian</title>
</head>

<body>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2>Welcome sir, What do you wish to do?</h2>
        </div>
        <br>
        </div>
    <div class="row">
        <div class="col-md-6 btn-group btn-group-justified">
            <a href="/addStudent" class="btn btn-primary btn-lg">Add a Student</a>
            <a href="/issueBook" class="btn btn-primary btn-lg">Issue Book to a Student</a>
            <a href="/unIssueBook" class="btn btn-primary btn-lg">UnIssue Book to Student</a>
        </div>

    </div>
    <div class="row"><h2 th:text="${!#strings.isEmpty(message)}
    ?${message}
    :''"></h2></div>

</div>
</body>
</html>